<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.metaaps.eoclipse.processing">
      <Processing
            Class="com.metaaps.eoclipse.sardetection.SARDetection"
            icon="icons/sample.gif"
            name="SAR Detection">
         <Parameter
               Type="Data (Image or Vector)"
               description="The Input SAR Image to process"
               name="Image">
            <Formats>
               <Format
                     Format="ENVISAT_ASAR_ALL_IMAGE">
               </Format>
               <Format
                     Format="ERS_SAR_ALL_IMAGE">
               </Format>
               <Format
                     Format="RADARSAT1_SAR_ALL_IMAGE">
               </Format>
            </Formats>
         </Parameter>
         <Parameter
               Type="Data (Image or Vector)"
               description="The Land Mask to use"
               name="Mask">
            <Formats>
               <Format
                     Format="VECTOR_ALL">
               </Format>
            </Formats>
         </Parameter>
      </Processing>
   </extension>

</plugin>
