<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.metaaps.eoclipse.processing">
      <Processing
            Class="com.metaaps.eoclipse.opticalvds.Processing"
            icon="icons/sample.gif"
            name="Optical VDS">
         <Parameter
               Type="Data (Image or Vector)"
               description="The Optical Input Image to process"
               name="Image">
            <Formats>
               <Format
                     Format="ERS_SAR_IMAGE">
               </Format>
            </Formats>
         </Parameter>
      </Processing>
   </extension>

</plugin>
