<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.metaaps.eoclipse.processing">
      <Processing
            Class="com.metaaps.eoclipse.genericprocessing.VectorBuffering"
            icon="icons/open-source.png"
            name="Vector Data Buffering">
         <Parameter
               Type="Vector"
               name="Source">
            <Formats>
               <Format
                     Format="VECTOR_ALL">
               </Format>
               <Format
                     Format="VECTOR_MIXED">
               </Format>
               <Format
                     Format="VECTOR_POINT">
               </Format>
               <Format
                     Format="VECTOR_POLYGON">
               </Format>
               <Format
                     Format="VECTOR_LINE">
               </Format>
            </Formats>
         </Parameter>
         <Parameter
               Type="Value"
               name="Size">
            <Formats>
               <Format
                     Format="DOUBLE">
               </Format></Formats>
         </Parameter>
         <Output
               Format="VECTOR_ALL"
               Type="Vector">
         </Output>
      </Processing>
      <Processing
            Class="com.metaaps.eoclipse.genericprocessing.VectorClipping"
            icon="icons/open-source.png"
            name="Vector Clipping">
         <Parameter
               Type="Vector"
               name="Source">
            <Formats>
               <Format
                     Format="VECTOR_ALL">
               </Format>
               <Format
                     Format="VECTOR_MIXED">
               </Format>
               <Format
                     Format="VECTOR_POINT">
               </Format></Formats>
         </Parameter>
         <Output
               Format="VECTOR_MIXED"
               Type="Vector">
         </Output>
         <Parameter
               Type="Vector"
               name="Clip">
            <Formats>
               <Format
                     Format="VECTOR_POLYGON">
               </Format>
            </Formats>
         </Parameter>
      </Processing>
      <Processing
            Class="com.metaaps.eoclipse.genericprocessing.ImageFrame"
            icon="icons/open-source.png"
            name="Image Frame">
         <Parameter
               Type="Image"
               name="Source">
            <Formats>
               <Format
                     Format="ENVISAT_ASAR_ALL">
               </Format>
               <Format
                     Format="ERS_SAR_IMAGE">
               </Format></Formats>
         </Parameter>
         <Output
               Format="VECTOR_POLYGON"
               Type="Vector">
         </Output>
      </Processing>
   </extension>

</plugin>
