<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.metaaps.eoclipse.viewers">
      <Viewer
            Class="com.metaaps.eoclipse.globeviewer.ViewFactory"
            icon="icons/globe-model.png"
            name="Globe Viewer"
            viewid="com.metaaps.eoclipse.eoclipsegisviews.globeviewer">
      </Viewer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.metaaps.eoclipse.globeviewer.GlobeViewer"
            id="com.metaaps.eoclipse.eoclipsegisviews.globeviewer"
            name="Globe Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
