<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.metaaps.eoclipse.viewers" name="Viewer" schema="schema/com.metaaps.eoclipse.viewer.exsd"/>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.metaaps.eoclipse.viewers.NCE.ContentProvider"
            id="com.metaaps.eoclipse.viewers.NCE"
            labelProvider="com.metaaps.eoclipse.viewers.NCE.LabelProvider"
            name="Viewers">
         <triggerPoints>
            <instanceof
                  value="com.metaaps.eoclipse.common.IDataSets">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <includes>
            <contentExtension
                  pattern="com.metaaps.eoclipse.viewers.NCE">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:navigatorcontent.popupmenu">
         <command
               commandId="com.metaaps.eoclipse.viewers.open"
               hoverIcon="icons/sample.gif"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               id="navigatorcontent.popupmenu.viewers"
               label="Viewers">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.metaaps.eoclipse.viewers.open"
            name="Open View">
      </command>
      <command
            id="com.metaaps.eoclipse.viewers.viewer"
            name="Viewers">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.metaaps.eoclipse.viewers.isviewer">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="com.metaaps.eoclipse.common.views.IViewerItem">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.metaaps.eoclipse.viewers.NCE.OpenHandler"
            commandId="com.metaaps.eoclipse.viewers.open">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.viewers.isviewer">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.viewers.isviewer">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.viewers.NCE.OpenMenuHandler"
            commandId="com.metaaps.eoclipse.viewers.viewer">
      </handler>
   </extension>

</plugin>
