<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.metaaps.eoclipse.layer2extensions" name="Layer2Extensions" schema="schema/com.metaaps.eoclipse.layer2extensions.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.metaaps.eoclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.metaaps.eoclipse.Perspective"
            icon="icons/documents-text.png"
            id="com.metaaps.eoclipse.perspective"
            name="Workflow">
      </perspective>
      <perspective
            class="com.metaaps.eoclipse.ViewsPerspective"
            id="com.metaaps.eoclipse.viewsperspective"
            name="Views">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.metaaps.eoclipse.workflow"
            class="com.metaaps.eoclipse.WorkFlowContent"
            icon="icons/zones-stack.png"
            id="com.metaaps.eoclipse.navigatorcontent"
            name="WorkFlows"
            restorable="true">
      </view>
      <category
            id="com.metaaps.eoclipse.renderingviews"
            name="Rendering Views">
      </category>
      <category
            id="com.metaaps.eoclipse.workflow"
            name="Workflow">
      </category>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <popupMenu
               allowsPlatformContributions="true"
               id="navigatorcontent.popupmenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.metaaps.eoclipse.navigator">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="com.metaaps.eoclipse.menu.views"
               label="Views"
               tooltip="Rendering Views">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="viewstoolbar"
               label="Views">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:navigatorcontent.popupmenu?after=additions">
         <command
               commandId="com.metaaps.eoclipse.workflowmanager.newworkflow"
               disabledIcon="icons/103.png"
               hoverIcon="icons/103.png"
               icon="icons/103.png"
               id="com.metaaps.newworkflow"
               label="New WorkFlow"
               mnemonic="N"
               style="push"
               tooltip="Create a New WorkFlow">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.workflowmanager.deleteworkflow"
               disabledIcon="icons/cross-circle.png"
               hoverIcon="icons/cross-circle.png"
               icon="icons/cross-circle.png"
               label="Close"
               style="push"
               tooltip="Close the Selected WorkFlow">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.runworkflow"
               hoverIcon="icons/143.png"
               icon="icons/143.png"
               label="Run"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.workflow.save"
               disabledIcon="icons/096.png"
               hoverIcon="icons/096.png"
               icon="icons/096.png"
               label="Save"
               style="push"
               tooltip="Save the Selected WorkFlow">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.open"
               label="Open WorkFlow"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.workflow.saveas"
               label="Save As"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.metaaps.eoclipse.workspace"
               label="WorkSpace">
            <command
                  commandId="com.metaaps.eoclipse.workflowmanager.newworkflow"
                  icon="icons/103.png"
                  label="New Work Flow"
                  style="push">
            </command>
            <command
                  commandId="com.metaaps.eoclipse.open"
                  icon="icons/047.png"
                  label="Open Work Flow"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.metaaps.eoclipse.workflowmanager.NCE.ContentProvider"
            id="com.metaaps.eoclipse.navigator"
            labelProvider="com.metaaps.eoclipse.workflowmanager.NCE.LabelProvider"
            name="Workflows">
         <triggerPoints>
            <instanceof
                  value="com.metaaps.eoclipse.workflowmanager.WorkFlowManager">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a New WorkFlow"
            id="com.metaaps.eoclipse.workflowmanager.newworkflow"
            name="New WorkFlow Command">
      </command>
      <command
            id="com.metaaps.eoclipse.workflowmanager.deleteworkflow"
            name="Close Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.runworkflow"
            name="Run Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.workflow.save"
            name="Save Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.workflow.saveas"
            name="Save Workflow As">
      </command>
      <command
            id="com.metaaps.eoclipse.open"
            name="Open Workflow">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.NewWorkFlow"
            commandId="com.metaaps.eoclipse.workflowmanager.newworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.DeleteHandler"
            commandId="com.metaaps.eoclipse.workflowmanager.deleteworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.RunHandler"
            commandId="com.metaaps.eoclipse.runworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.SaveHandler"
            commandId="com.metaaps.eoclipse.workflow.save">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.SaveAsHandler"
            commandId="com.metaaps.eoclipse.workflow.saveas">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.OpenHandler"
            commandId="com.metaaps.eoclipse.open">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.metaaps.eoclipse.isroot">
            <with
                  variable="selection">
               <count
                     value="0">
               </count>
            </with>
      </definition>
      <definition
            id="com.metaaps.eoclipse.isworkflow">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.metaaps.eoclipse.workflowmanager.WorkFlow">
                  </instanceof>
               </iterate>
            </with>
      </definition>
      <definition
            id="com.metaaps.eoclipse.isworkflowmanager">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="com.metaaps.eoclipse.workflowmanager.WorkFlowManager">
                  </instanceof>
               </iterate>
            </with>
      </definition>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.metaaps.eoclipse.application"
            name="EOClipse">
         <property
               name="appName"
               value="EOClipse">
         </property>
	     <property
	            name="introTitle"
	            value="Welcome to EOClipse"/>
	      <property
	            name="introBrandingImage"
	            value="product:eclipse.png"/>
	      <property
	            name="introBrandingImageText"
	            value="XYZ Company"/>
         <property
               name="aboutImage"
               value="icons/helplogo.png">
         </property>
         <property
               name="aboutText"
               value="An Open Source framework and Rich Client Platform for Earth Observation Services&#x0A;Version 0.1&#x0A;&#x0A;Copyright Metaaps, October 2010&#x0A;This software is available using the Eclipse Public License v1.0.&#x0A;Visit http://www.eotools.com/eorcp/&#x0A;&#x0A;This product includes software developed by the Eclipse&#x0A;Foundation, Geotools and the Apache Software Foundation.&#x0A;This product includes icons created by Diagona Icons, Copyright (C) 2007 Yusuke Kamiyamane.">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="50,130,470,20">
         </property>
         <property
               name="startupProgressRect"
               value="50,110,470,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/logosmall.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.metaaps.eoclipse.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/intro.xml"
            id="com.metaaps.eoclipse.intro"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="intropage">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
