<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.metaaps.eoclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.metaaps.eoclipse.Perspective"
            icon="icons/documents-text.png"
            id="com.metaaps.eoclipse.perspective"
            name="Workflow">
      </perspective>
      <perspective
            class="com.metaaps.eoclipse.ViewsPerspective"
            id="com.metaaps.eoclipse.viewsperspective"
            name="Views">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.metaaps.eoclipse.renderingviews"
            class="com.metaaps.eoclipse.AdditionalViews"
            id="com.metaaps.eoclipse.additionalviews"
            name="Additional Views"
            restorable="true">
      </view>
      <view
            category="com.metaaps.eoclipse.workflow"
            class="com.metaaps.eoclipse.NavigatorContent"
            icon="icons/zones-stack.png"
            id="com.metaaps.eoclipse.navigatorcontent"
            name="Navigator"
            restorable="true">
      </view>
      <category
            id="com.metaaps.eoclipse.renderingviews"
            name="Rendering Views">
      </category>
      <category
            id="com.metaaps.eoclipse.workflow"
            name="Workflow">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <popupMenu
               allowsPlatformContributions="true"
               id="navigatorcontent.popupmenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.metaaps.eoclipse.navigator">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="views"
               label="Views"
               tooltip="Rendering Views">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="viewstoolbar"
               label="Views">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=viewstoolbar">
         <toolbar
               id="toolstoolbar"
               label="Tools">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=views">
         <menu
               id="tools"
               label="Tools"
               tooltip="Tools">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:navigatorcontent.popupmenu?after=additions">
         <command
               commandId="com.metaaps.eoclipse.workflowmanager.newworkflow"
               id="com.metaaps.newworkflow"
               label="New WorkFlow"
               mnemonic="D"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.workflowmanager.deleteworkflow"
               hoverIcon="icons/cross-circle.png"
               icon="icons/cross-circle.png"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.runworkflow"
               hoverIcon="icons/143.png"
               icon="icons/143.png"
               label="Run"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.workflow.save"
               label="Save"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.metaaps.eoclipse.open"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.metaaps.eoclipse.workflowmanager.NCE.ContentProvider"
            id="com.metaaps.eoclipse.navigator"
            labelProvider="com.metaaps.eoclipse.workflowmanager.NCE.LabelProvider"
            name="Workflows">
         <triggerPoints>
            <instanceof
                  value="com.metaaps.eoclipse.workflowmanager.WorkFlowManager">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a New WorkFlow"
            id="com.metaaps.eoclipse.workflowmanager.newworkflow"
            name="New WorkFlow Command">
      </command>
      <command
            id="com.metaaps.eoclipse.workflowmanager.deleteworkflow"
            name="Delete Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.runworkflow"
            name="Run Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.workflow.save"
            name="Save Workflow">
      </command>
      <command
            id="com.metaaps.eoclipse.open"
            name="Open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.NewWorkFlow"
            commandId="com.metaaps.eoclipse.workflowmanager.newworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.DeleteHandler"
            commandId="com.metaaps.eoclipse.workflowmanager.deleteworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.RunHandler"
            commandId="com.metaaps.eoclipse.runworkflow">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.datasets.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.datasets.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.SaveHandler"
            commandId="com.metaaps.eoclipse.workflow.save">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isworkflow">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.metaaps.eoclipse.workflowmanager.NCE.OpenHandler"
            commandId="com.metaaps.eoclipse.open">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.isroot">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.metaaps.eoclipse.isroot">
            <with
                  variable="selection">
               <count
                     value="0">
               </count>
            </with>
      </definition>
      <definition
            id="com.metaaps.eoclipse.isworkflow">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.metaaps.eoclipse.workflowmanager.WorkFlow">
                  </instanceof>
               </iterate>
            </with>
      </definition>
      <definition
            id="com.metaaps.eoclipse.isworkflowmanager">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="or">
                  <instanceof
                        value="com.metaaps.eoclipse.workflowmanager.WorkFlowManager">
                  </instanceof>
               </iterate>
            </with>
      </definition>
   </extension>
   <extension
         id="com.metaaps.eoclipse.product"
         name="EOClipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.metaaps.eoclipse.application"
            name="EOClipse">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.metaaps.eoclipse.application"
            name="EOClipse">
         <property
               name="appName"
               value="EOClipse">
         </property>
      </product>
   </extension>

</plugin>
