<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="com.metaaps.eoclipse.export" name="Export" schema="schema/com.metaaps.eoclipse.export.exsd"/>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.metaaps.eoclipse.export.NCE.ContentProvider"
            id="com.metaaps.eoclipse.export.NCE"
            labelProvider="com.metaaps.eoclipse.export.NCE.LabelProvider"
            name="export">
         <triggerPoints>
            <instanceof
                  value="com.metaaps.eoclipse.common.datasets.IDataContent">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.metaaps.eoclipse.navigatorcontent">
         <includes>
            <contentExtension
                  pattern="com.metaaps.eoclipse.export.NCE">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:navigatorcontent.popupmenu">
         <command
               commandId="com.metaaps.eoclipse.export.add"
               hoverIcon="icons/sample.gif"
               label="Add"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.metaaps.eoclipse.export.add"
            name="Add Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.metaaps.eoclipse.export.ismethod">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="com.metaaps.eoclipse.export.Method">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.metaaps.eoclipse.export.NCE.AddHandler"
            commandId="com.metaaps.eoclipse.export.add">
         <activeWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.export.ismethod">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.metaaps.eoclipse.export.ismethod">
            </reference>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
